@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --size: 1;
    --background: #000;
}

body {
    background: linear-gradient(to bottom, #F1F1F1, #F1F1F1); /* Replace these colors with your desired gradient */
    color: white;
}

/*<div class="h-72 bg-gradient-to-b from-purple-600 to-blue-600"></div>*/

