@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --size: 1;
    --background: #000;
}

body {
    background: var(--background);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/*<div class="h-72 bg-gradient-to-b from-purple-600 to-blue-600"></div>*/

